body {
  background-image: url("https://i.pinimg.com/originals/fb/1e/5d/fb1e5d86e6f36e24c3de017c74b1c895.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  line-height: 2.5em;
  font-family: 'Baloo Bhai', cursive;
  margin-bottom: 30px;
}

.container {
  margin-right: auto;
  margin-left: auto;
  width: 80%;
  overflow: hidden;
  padding: 70px 0;
}

/* #wrapper{
     text-align: center;
 } */

.card-body {
  background-color: white;
  display: block;
  margin-right: auto;
  margin-left: auto;
  opacity: 0.8;
  font-family: 'Monda', sans-serif;
}

button{
    font-size: 20px;
    width: 100%;
}

input {
    margin-left: -3px;
  }